/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
  }
  
  .app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
  }
  
  .app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: lowercase;
  }
  
  /* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
  /* Detached navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 76px !important;
  }
  /* Default navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
  }
  
  /* Navbar page z-index issue solution */
  .content-wrapper .navbar {
    z-index: auto;
  }
  
  /*
  * Content
  ******************************************************************************/
  
  .demo-blocks > * {
    display: block !important;
  }
  
  .demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important;
  }
  
  /* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
  .demo-vertical-spacing > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
  }
  
  [dir='rtl'] .rtl-only {
    display: block !important;
  }
  
  /*
  * Layout demo
  ******************************************************************************/
  
  .layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
  }
  .layout-demo-placeholder img {
    width: 900px;
  }
  .layout-demo-info {
    text-align: center;
    margin-top: 1rem;
  }
  
  #user-profile {
    /*-------- profile info section --------*/ }
  
  #user-profile .profile-header {
    overflow: hidden; }
  
  #user-profile .profile-header .profile-img-container {
    position: absolute;
    bottom: -2rem;
    left: 2.14rem;
    z-index: 2; }
  
  #user-profile .profile-header .profile-img-container .profile-img {
    height: 8.92rem;
    width: 8.92rem;
    border: 0.357rem solid #fff;
    background-color: #fff;
    border-radius: 0.428rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1); }
  
  #user-profile .profile-header .profile-header-nav .navbar {
    padding: 0.8rem 1rem; }
  
  #user-profile .profile-header .profile-header-nav .navbar .navbar-toggler {
    line-height: 0; }
  
  #user-profile .profile-header .profile-header-nav .navbar .profile-tabs .nav-item i,
  #user-profile .profile-header .profile-header-nav .navbar .profile-tabs .nav-item svg {
    margin-right: 0; }
  
  #user-profile #profile-info .profile-star {
    color: #babfc7; }
  
  #user-profile #profile-info .profile-star i.profile-favorite,
  #user-profile #profile-info .profile-star svg.profile-favorite {
    fill: #ff9f43;
    stroke: #ff9f43; }
  
  #user-profile #profile-info .profile-likes {
    fill: #ea5455;
    stroke: #ea5455; }
  
  #user-profile #profile-info .profile-polls-info .progress {
    height: 0.42rem; }
  
  #user-profile .profile-latest-img {
    transition: all 0.2s ease-in-out; }
  
  #user-profile .profile-latest-img:hover {
    transform: translateY(-4px) scale(1.2);
    z-index: 10; }
  
  #user-profile .profile-latest-img img {
    margin-top: 1.28rem; }
  
  #user-profile .block-element .spinner-border {
    border-width: 0.14rem; }
  
  @media (max-width: 991.98px) {
    #user-profile .profile-latest-img img {
      width: 100%; } }
  
  @media (min-width: 768px) {
    .profile-header-nav .profile-tabs {
      width: 100%;
      margin-left: 13.2rem; } }
  
  @media (max-width: 575.98px) {
    #user-profile .profile-header .profile-img-container .profile-img {
      height: 100px;
      width: 100px; }
    #user-profile .profile-header .profile-img-container .profile-title h2 {
      font-size: 1.5rem; } }
  
  
      .tablenewdesign td img.profile-img {  
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        
      }