.svg-icon-1 {
    right: 14px;
}

.svg-icon-1 svg {fill: #adadad;}

.svg-icon-1 svg rect,.svg-icon-1 svg path {
    fill: #adadad;
}
:root {
    --primary: #006f01;
    --secondary: #0035bb;
    --accent: #ce1700;
}
.btn-primary {
background-color: var(--primary);
border-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);

}
.btn-secondary:hover {
    background-color: var(--primary);
border-color: var(--primary);
}
#kt_content {
    min-height: 75vh;
}
.btn-light {
    border-color: #ddd;
}
.btn-light:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}
.fv-row.mb-7 {
    margin-bottom: 20px;
}
.modal-header h2.fw-bolder {
    text-transform: uppercase;
    font-size: 1.3rem;
}
.dataTables_filter {
    margin-top: 1rem;
}
.dataTables_filter label {
    width: 100%;
}
.table td {
    font-size: 0.8rem;
}
.pagination {
    margin-top: 1rem;
}
a.btn.btn-action{
    display: flex;
    justify-content: center;
}
.menu-sub {
    padding: 0 !important;
}

.menu-item {
    border-bottom:1px solid #ddd;
    padding:5px 0
    
}
.menu-item:hover {
    background: var(--secondary);
    color: #fff;
}
#kt_content {
    margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
.table th, .table td {
    min-width: 7rem;
}
}
